<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>冰墙.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,60}</string>
                <key>spriteSourceSize</key>
                <string>{40,60}</string>
                <key>textureRect</key>
                <string>{{0,0},{40,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>冰墙1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,60}</string>
                <key>spriteSourceSize</key>
                <string>{40,60}</string>
                <key>textureRect</key>
                <string>{{40,0},{40,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>墙.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,60}</string>
                <key>spriteSourceSize</key>
                <string>{40,60}</string>
                <key>textureRect</key>
                <string>{{80,0},{40,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>墙1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,60}</string>
                <key>spriteSourceSize</key>
                <string>{40,60}</string>
                <key>textureRect</key>
                <string>{{120,0},{40,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>木箱.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,60}</string>
                <key>spriteSourceSize</key>
                <string>{40,60}</string>
                <key>textureRect</key>
                <string>{{160,0},{40,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>walls.png</string>
            <key>size</key>
            <string>{200,60}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f25844a5304547249c91a9456864b7e6:7e3aa75fe8400e0675a8ac454b202da9:b39a2afedb0b4a6e4deefed26ef55e9a$</string>
            <key>textureFileName</key>
            <string>walls.png</string>
        </dict>
    </dict>
</plist>
